.icon-box{
    text-align: center;
    h1{
       color: blueviolet;
    }
    mat-icon{
        font-size: 70px;
        height: 70px;
        width: 70px;
    }
}

.form-box{
    padding-top: 5rem;
    text-align: center;
    button{
        display: block;
        width: 10rem;
        margin:0 auto;
    }
    p{
        margin-top: 1rem;
        a{color: #00dddd;
            padding-left: 15px;}
       
    }
    mat-chip{
        background-color:  #d64a4a;
        color : #4e1b1b;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

