<div class="container-box-10-5">

    
    <div class="icon-box">
        <h1>Everything App</h1>
        <mat-icon aria-hidden="false" aria-label="Example home icon" 
        fontIcon="face_2" color="primary"></mat-icon>
    </div>
    
    <div class="form-box">
        @if (errorMessage) {
            <mat-chip-set aria-label="Error Message">
                <mat-chip color="primary">{{errorMessage}}</mat-chip>
            </mat-chip-set>
        }
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="username">
        </mat-form-field>
        <button mat-raised-button (click)="register(email,password)">Register</button>
        <p>Already have an account? <a (click)="goToLogin()" color="primary">Log in</a></p>
    </div>
    
</div>

  